{% extends 'main.html' %}

{% block content %}

<script text="javascript">

    // window.onbeforeunload = function(event) {
    //     event.preventDefault();
    //     return false;
    // }
	
	$(document).ready(function(){
		$("#preguntar").on( "click", function() {
			$('#target').show(); //muestro mediante id
		 });
		$("#responder_Si").on( "click", function() {
			$('#target').hide(); //oculto mediante id
		});
        $("#responder_No").on( "click", function() {
			$('#target').hide(); //oculto mediante id
		});
	});
        
</script>

<center>
    <h1>Ayudanos a alimentar a Vicky...</h1>

    <h3>hazle {{ num_visits }} {%if num_visits == 1%} pregunta{% else %} 
        preguntas{% endif %}  a Vicky y dinos sí el tópico que ella 
        devuelve es correcto o no...</h3>

    <form method="POST" class="post-form">
        {% csrf_token%}

        <div class="form-group">
            {{ form.as_p }}
        </div>

        <input type="submit" id="preguntar" class="btn btn-primary" value="Preguntar">
    </form>

    <br>

    <div id="target" style="display: none;">
        <form method="POST">
            {% csrf_token%}

            <h3>Su pregunta para Vicky fue...</h3>
            <input type="text" aling="center" class="col-sm-8" readonly name="retorno_Pregunta" value="{{ pregunta }}" > 
            <br>
            <br>

            <h3>La respuesta Vicky es...</h3>
            <input type="text" aling="center" class="col-sm-8" readonly name="retorno_Respuesta" value="{{ respuesta }}">
            <br>

            <h3>Vicky contesto correctamente ?</h3>
            <br>

            <input type="submit" class="col-sm-2 btn btn-primary" id="responder_Si" value="Si" name="Si" >
            <input type="submit" class="col-sm-2 btn btn-warning" id="responder_No" value="No" name="No" >
        </form>
    </div>

</center>

{% endblock %}