{% extends 'main.html' %}

{% block content %}

<center>
    <h1>Ayudanos a alimentar a Vicky...</h1>

    <h3>hazle {{ num_visits }} {%if num_visits == 1%} pregunta{% else %} 
        preguntas{% endif %}  a Vicky y dinos sí el tópico que ella 
        devuelve es correcto o no...</h3>

    <form action="{% url 'respuesta_Vicky' %}">
        {% csrf_token%}

        <div class="form-group">
            <label for="txt_pregunta_Vicky">Pregunta:</label><br>
            
            {% if num_visits == 0 %}
            <input type="text" id="txt_pregunta_Vicky" 
            name="pregunta_Vicky" class="col-sm-8 form-control" 
            placeholder="preguntale a Vicky...">

            {% else %}

            <input type="text" id="txt_pregunta_Vicky" 
            name="pregunta_Vicky" readonly class="col-sm-8 form-control" 
            placeholder="preguntale a Vicky...">

            {% endif %}

        </div>

        <input type="submit" class="btn btn-primary" value="Preguntar">
    </form>

</center>

{% endblock %}