{% extends 'main.html' %}

{% block content %}

<center>
    <h1>Se acabararon tus intentos.</h1>

    <h3>Muchas gracias por apoyarnos en nuestro proyecto.</h3>

    <form action="{% url 'noVisitas' %}" method="POST">
        {% csrf_token%}

        <h3>¿Hallaste algo que pueda sernos de utilidad? Escribenos al respecto:</h3>

        <input type="text" id="txt_comentario" 
        name="comentario" class="col-sm-8 form-control" 
        placeholder="Ingresa un nombre de usuario..." required>
        <br>

        <button type="submit" class="col-sm-2 btn btn-primary">Ingresar</button>
    </form>

    
</center>

{% endblock %}